/* You can add global styles to this file, and also import other style files */
.demo-box {
    border: 1px solid black;
    padding: 1em;

    p {
        color: #333;
        font-weight: 550;
    }

    .babys {
        display: inline-block;
        padding: 1em;

        p {
            margin-left: 2.5em;
        }
    }
}